.div-symbol-icon {
  background: #fff;
  padding: 5px;
  margin: 5px 0 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.div-symbol-icon img {
  width: 24px;
}

.div-small-icon {
  float: right;
  margin-top: 150px;
  position: fixed;
  z-index: 99;
}

.div-right {
  display: flex;
  justify-content: flex-end;
}

.div-symbol-icon-menu {
  background: rgb(20, 100, 244);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.div-symbol-icon-menu i {
  color: #fff;
}

@media (max-width: 991px){
  .div-right{
    display: none;
  }
}


.navbar-logo {
  height: 62px;
  padding: 0 0 0 50px;
}

.navbar.navbar-light.navbar-expand-md.nav-header {
  z-index: 99;
  background: #fff;
}

.nav-item.header-item-3 a {
  color: rgb(0,0,0,0.9);
}

.nav-link.link-underline {
  text-decoration: underline;
}

.btn.btn-primary.header-btn {
  width: 200px;
}

.navbar-nav.ml-auto.header-ul li {
  margin-right: 20px;
}

.nav-li-icon {
  font-size: 25px;
  color: rgba(0,0,0,0.5);
}

.navbar-toggler {
  border: none;
}

.navbar-nav.subnav-1 {
  width: 100%;
  left: 0;
  top: 65px;
  background-color: #fff;
  position: absolute;
  height: 450px;
  display: none;
}

.nav-item.header-item-1:hover .subnav-1 {
  display: block;
}

@media (max-width: 766px) {
  .nav-item.header-item-1:hover .subnav-1 {
    display: none;
  }
}

.subnav-2 {
  width: 100%;
  left: 0;
  top: 65px;
  background-color: #fff;
  position: absolute;
  height: 460px;
  display: none;
}

.nav-item.header-item-2:hover .subnav-2 {
  display: block;
}

@media (max-width: 766px) {
  .nav-item.header-item-2:hover .subnav-2 {
    display: none;
  }
}

.subnav-3 {
  width: 100%;
  background: #fff;
  left: 0;
  top: 65px;
  position: absolute;
  height: 200px;
  display: none;
}

.nav-item.header-item-4:hover .subnav-3 {
  display: block;
}

.subnav-3 p {
  padding: 5px;
  cursor: pointer;
}

.subnav-3 p:hover {
  color: blue;
  background-color: #CCFFFF;
}

@media (max-width: 766px) {
  .nav-item.header-item-4:hover .subnav-3 {
    display: none;
  }
}

.nav-item.subnav-4 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 65px;
  height: 200px;
  background-color: #fff;
  display: none;
}

.nav-item.header-item-5:hover .subnav-4 {
  display: block;
}

@media (max-width: 766px) {
  .nav-item.header-item-5:hover .subnav-4 {
    display: none;
  }
}

.subnav-4-div {
  padding: 15px;
}

.subnav-4-div-link {
  margin-bottom: 15px;
}

.subnav-4-div-link a {
  text-decoration: none;
  color: rgba(0,0,0,0.5);
  padding: 5px;
  width: 100%;
}

.subnav-4-div-link:hover {
  background-color: #CCFFFF;
}

.subnav-4-div-link:hover a {
  color: blue;
}

.nav-item.subnav-5 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 65px;
  background-color: #fff;
  height: 350px;
  display: none;
}

.subnav-5 a {
  color: rgb(0,0,0,0.9);
}

.subnav-5 .subnav-5-div {
  padding: 10px;
}

.subnav-5 .subnav-5-div:hover {
  background-color: #CCFFFF;
}

.nav-item.subnav-5 p {
  cursor: pointer;
}

.subnav-5 .subnav-5-div a:hover {
  color: blue;
}

.nav-item.header-item-6:hover .subnav-5 {
  display: block;
}

@media (max-width: 766px) {
  .nav-item.header-item-6:hover .subnav-5 {
    display: none;
  }
}

.nav-item.header-nav-none {
  display: none;
}

.nav-item.header-nav-none a {
  padding: 0;
  margin: 5px 5px;
  padding: 5px;
}

@media (max-width: 766px) {
  .nav-item.header-nav-none {
    display: block;
  }
}

.nav-item.header-nav-none a:hover {
  color: blue;
  background: #CCFFFF;
}

.navbar.navbar-light.navbar-expand-md.nav-header {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-item.header-item-8 {
  margin-top: 5px;
}

.nav-item.subnav-item {
  width: 100%;
}

.subnav-row {
  width: 100%;
}

.subnav-support a {
  text-decoration: none;
}

.subnav-support {
  padding: 12px 0 12px 0;
}

.btn.btn-primary.subnav-btn-car {
  width: 420px;
}

.subnav-1 .card {
  border: none;
}

.nav-item.subnav-1-mobile {
  display: none;
  border-left: 1px solid #ccc;
}

.nav-item.subnav-1-mobile a {
  text-decoration: none;
  color: #000;
}

.nav-item.subnav-1-mobile a:hover {
  color: blue;
  background: #CCFFFF;
}

.subnav-1-mobile-1 {
  margin-left: 30px;
}

.nav-item.subnav-1-mobile a {
  display: block;
  margin-left: 18px;
}
.subnav-icon i{
  padding: 10px 10px 10px 30px;
}



@media (max-width: 768px) {
  .subnav-1, .subnav-2 {
    display: none;
  }
}

@media (max-width: 766px) {
  .nav-item.subnav-1-mobile {
    display: none;
    border-left: 1px solid #ccc;
  }

  .open{
    display: block !important;
  }

}

.disable{
  display: none !important;
}

@media (max-width: 766px) {
  .nav-item.header-item-1, .nav-item.header-item-2, .nav-item.header-item-3, .nav-item.header-item-4, .nav-item.header-item-5 {
    margin-left: 9px;
  }
}

.subnav-1-mobile a {
  padding: 5px;
}

@media (max-width: 768px) {
  .nav-item.header-item-7 {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-item.header-item-8 {
    display: none;
  }
}

.navbar-toggler-icon {
  margin-top: -3px;
}

.nav-vn {
  text-decoration: underline;
}

.fa.fa-angle-down.nav-vn-icon {
  margin-right: 20px;
}

@media (max-width: 767px) {
  .nav-item.header-item-6 {
    display: none;
  }
}

.navbar-nav.subnav-7 {
  background: #fff;
  position: absolute;
  left: -224px;
  top: 38px;
  width: 295px;
  display: none;
}

.nav-item.header-item-8:hover .subnav-7 {
  display: block;
}

@media (max-width: 766px) {
  .nav-item.header-item-8:hover .subnav-7 {
    display: none;
  }
}

.nav-item.header-item-8 {
  position: relative;
}

.active.text-right {
  text-decoration: none;
}

.col-md-4.subnav-row-col {
  margin: 0 25px 0 25px;
}

.subnav-div-icon {
  display: flex;
  justify-content: space-between;
}

.subnav-div-icon a {
  text-decoration: none;
  color: rgb(0,0,0,0.9);
}

.subnav-icon {
  display: none;
}

@media (max-width: 766px) {
  .subnav-icon {
    display: block;
  }
}

.subnav-2 .card {
  border: none;
}


.btn{
  background-color:#1464f4;
  color: #fff;
  width: 180px;
  font-size: 17px;
  font-weight: 700;
  position: relative;
  letter-spacing: 1px;
  z-index: 1;
  transition: all 0.6s ease 0s;
  overflow: hidden;
}
.btn:hover{
  color: #1464f4 !important;
}
.btn:before{
  background: #fff;
  content: "";
  height: 1000px;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  /* transform: translateX(-50%) translateY(-50%) rotate(45deg); */
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: all 0.2s linear 0s;
  width: 0;
  z-index: -1;
}
.btn:hover:before{
  opacity: 1;
  width: 100%;
}


.simple-slider .swiper-slide{
  height:auto;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}

.body1-1 {
  text-align: center;
}

.body1-1-border {
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

@media (max-width: 767px) {
  .body1-1-border {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
  }
}

.div-price-newproduct .div-button-newproduct {
  width: 100%;
}

.card-border-none {
  border: none;
}


.part-slider-products{
  margin-top: 80px;
}


.slider {
  width: 90%;
  margin: 15px auto;
  background: #fff;
  border-radius: 5px;
  padding: 15px 0;
}

.slick-slider button{ 
  position: absolute;
  top: 50%;
  background: #fff;
  border: none;
  outline: none;
  z-index:100;
  width: 50px;
  height: 50px; 
  color:#fff;
  cursor: pointer;
  transform: translate(0%,-70%);
  border-radius: 36px;
  box-shadow: 0px 2px 20px rgba(0,0,0,0.07);
}
.slick-slider .slick-prev{
  left:-30px;
}
.slick-slider .slick-prev::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104";
  font-size:30px;
  color:#0625bf;
  left: 8px;
  position: relative;
  z-index: 10;
}
.slick-slider .slick-next{
  right:-30px;
}
.slick-slider .slick-next::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-size:30px;
  color:#0625bf;
  right: 15px;
  position: relative;
  z-index: 10;
}
.slick-slide {
  color: #333;
  padding: 40px 0;
  font-size: 1.25em;
  text-align: center;
}

.slick-slide .desc {
  opacity: 0;
}

.slick-slide .desc>* {
  transition: all 900ms ease;
}

.slick-slide .desc h3 {
  position: relative;
  left: 50px;
  line-height: 1;
  text-align: left !important;
}
.slick-slide .desc h2 span{
  color:#bf0606;
}
.slick-slide .desc p {
  position: relative;
  opacity: 0;
  font-size: 15px;
  margin: 10px 0 20px 0;
} 
.slick-slide .desc a{
  text-decoration: none;
}


.text-detail{
  cursor: pointer;
}


.products-h1{
  text-align: center;
  font-size:50px;
  font-weight:200;
}

@media (max-width: 766px){
  .products-h1{
      font-size:30px;
  }
}



.text-prices{
  font-weight: 700;
}

.text-cost{
  color: #0625bf
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-dots {
  text-align: center;
  display:none !important;
}

.slick-dots li {
  display: inline-block;
  padding: 1px;
  background: #ccc;
  margin: 10px 5px;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background: #bf0606;
}

.slick-dots button {
  display: none;
}
.slick-slide {
  opacity: 0.2;
  transition: all 300ms ease;
}

.slick-current {
  opacity: 1;
  transform: scale(1.1);
}

.slick-current .desc {
  opacity: 1;
}

.slick-current .desc h2 {
  left: 0; 
}

.slick-current .desc p {
  top: 0;
  opacity: 1;
}


.slider .desc .row .col-6{
  font-size:20px;
}


.img-policy {
  height: 432px;
  width: 776px;
}

@media (max-width: 766px) {
  .img-policy {
    width: 494px;
    height: 275px;
  }
}

.title-policy {
  font-size: 50px;
  font-weight: 200;
}

@media (max-width: 766px) {
  .title-policy {
    font-size: 25px;
  }
}

.btn-primary.btn-policy {
  margin-top: 20px;
  width: 366px;
  height: 45px;
}

@media (max-width: 766px) {
  .btn-primary.btn-policy {
    width: 100%;
  }
}

.container.part-policy {
  margin-top: 80px;
}


.div-buy-online {
  height: 475px;
  width: 100%;
  background: url('../../assets/img/car-blue.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
}

@media (max-width: 760px) {
  .div-buy-online {
    height: 1250px;
  }
}

.row.row-icon-step {
  background: #fff;
}

.div-icon-step {
}

.div-buy-heading h1 {
  font-weight: 200;
  color: #fff;
}

.div-icon-step {
  margin-right: 250px;
  margin-left: 250px;
  margin-bottom: auto;
}

@media (max-width: 1050px) {
  .div-icon-step {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: auto;
  }
}

.div-step-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-step-1-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fa.fa-chevron-right {
  font-size: 20px;
  color: blue;
}

@media (max-width: 766px) {
  .fa.fa-chevron-right {
    display: none;
  }
}

.container.div-row-step {
  background-color: #fff;
  padding: 20px;
}

.div-icon-down {
  margin: 20px;
  color: var(--blue);
  font-size: 20px;
  display: none;
}

@media (max-width: 766px) {
  .div-icon-down {
    display: block;
  }
}

.div-step-1-title p {
  font-weight: 500;
}

.instruction {
  margin-top: 50px;
}

.list-instruction {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media (max-width: 766px) {
  .list-instruction {
    border-bottom: 3px solid #2c72c6!important;
  }
}

.list-instruction-li {
  border-bottom: 3px solid #2c72c6!important;
}

@media (max-width: 766px) {
  .list-instruction-li {
    border-bottom: none !important;
  }
}

.list-instruction-li a {
  padding: 50px;
  text-decoration: none;
  font-weight: 500;
}

.img-instruction {
  width: 300px;
}

.img-trainghiem {
  width: 726px;
}

@media (max-width: 766px) {
  .img-trainghiem {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .footer-col {
    display: table;
  }
}


